/* Estilo Geral */
@import url('https://fonts.cdnfonts.com/css/star-wars');

:root {
    --color-gradient: linear-gradient(45deg, #176c44, #b72814);
    --cor-um: #176c44;
    --cor-dois: #b72814;
    --cor-tres: #fff;
    --cor-quatro: #000000;
    --cor-cinco: #1c72b7;
    --cor-seis: #ce652c;

}


/* Estilo do cabeçalho */
header {
    padding: 10px;
}

.cabecalho {
    position: fixed;
    display: flex;
    gap: 30px;
    padding: 20px;
    top: 0;
    margin-left: 80%;
}

.mainmenubtn1 {
    background-color: var(--cor-quatro);
    color: var(--cor-um);
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1rem;
}

.mainmenubtn1:hover {
    background-color: var(--cor-cinco);
    color: var(--cor-quatro);

}

.dropdown-child1 {
    display: none;
    background-color: var(--cor-cinco);
    min-width: 200px;
    border-radius: 30px;
}

.dropdown-child1 a {
    color: var(--cor-quatro);
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown1:hover .dropdown-child1 {
    display: block;
    position: absolute;
}

.mainmenubtn2 {
    background-color: var(--cor-quatro);
    color: var(--cor-dois);
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1rem;
}

.mainmenubtn2:hover {
    background-color: var(--cor-seis);
    color: var(--cor-quatro);
}


.dropdown-child2 {
    display: none;
    background-color: var(--cor-seis);
    min-width: 200px;
    border-radius: 30px;
}

.dropdown-child2 a {
    color: var(--cor-quatro);
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown2:hover .dropdown-child2 {
    display: block;
    position: absolute;

}

/* fim do cabeçalho */

/* Corpo */
body {
    background-color: var(--cor-quatro);
    color: var(--cor-tres);
    font-size: 20px;
}

/* main */
/* perfil */
.texto_apresentacao {
    margin-top: 10%;
    font-size: 3rem;
}


.apresentacao {
    display: flex;
    flex-direction: row;
    margin-right: 25%;
    margin-left: 30%;
    margin-top: 5%;

}

.foto_perfil1 {
    border-radius: 50%;
    border: 5px solid var(--cor-um);
    width: 30%;
    height: 20%;
}

.foto_perfil2 {
    border: 5px solid var(--cor-dois);
    border-radius: 50%;
    width: 30%;
    height: 20%;
}

/* fim do perfil */

/* Linguagem */
.linguagens {
    text-align: center;
    font-size: 15px;
}



.icons img {
    margin: 5px;
}

/* fim da linguagens */

/* icones midias sociais */

.apresentacao_links1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

.apresentacao_links_sociais1 {
    color: var(--cor-tres);
    border: 2px solid var(--cor-um);
    width: 10%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.apresentacao_links2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 20px;

}

.apresentacao_links_sociais2 {
    color: var(--cor-tres);
    border: 2px solid var(--cor-dois);
    width: 10%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.apresentacao_links_sociais1:hover {
    background: var(--cor-um);
}

.apresentacao_links_sociais2:hover {
    background: var(--cor-dois);
}

/* fim dos icones */

/* Rodapé */
/* separador */
.separator {
    margin: 5px 5px 30px;
    display: flex;
    height: 20px;
    background: var(--color-gradient);
    width: 100%;
}

.separator .texto-rodape {
    text-align: center;
}

/* fim do rodapé */

/* Responsividade */

@media only screen and (max-width: 1500px) {
    .parallax-container {
      background-position: top;  /* ajusta o background para telas menores*/
    }

    .texto_apresentacao {
      flex-direction: column;  /* ajusta a apresentação */
      margin: 0 auto 2rem;  /* centraliza e da espaço em telas menores */
    }

    .texto_apresentacao img.foto_perfil1,
    .texto_apresentacao img.foto_perfil2 {
      width: 30%;  /* deixa as imagens responsivas */
      margin-bottom: 2rem;  /* adiciona espaço nas imagens */
    }

    .icons {
      justify-content: center;  /* centraliza os icones */
    }

    .apresentacao_links1,
    .apresentacao_links2 {
      margin-top: 2rem;  /* adiciona space between  */
    }

    .dropdown-child {
        left: -10px;  /* Ajusta  a posição baseada no tamanho */
        top: 100%;
      }
  }