/* Estilo Geral */
@import url('https://fonts.cdnfonts.com/css/star-wars');

:root {
    --color-gradient: linear-gradient(45deg, #176c44, #b72814);
    --cor-um: #176c44;
    --cor-dois: #b72814;
    --cor-tres: #fff;
    --cor-quatro: #000000;
    --cor-cinco: #1c72b7;
    --cor-seis: #ce652c;

}

.titulo-destaque {
    color: var(--color-gradient);
    font-style: none;
    background-clip: text;
    -webkit-background-clip: text;
}


/* Estilo do cabeçalho */
header {
    padding: 10px;
}

.cabecalho {
    position: fixed;
    display: flex;
    gap: 30px;
    padding: 20px;
    top: 0;
    margin-left:60%;
}

.mainmenubtn1 {
    background-color: var(--cor-quatro);
    color: var(--cor-um);
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
}

.mainmenubtn1:hover {
    background-color: var(--cor-cinco);
    color: var(--cor-quatro);
    
}

.dropdown-child1 {
    display: none;
    background-color: var(--cor-cinco);
    min-width: 200px;
    border-radius: 30px;
}

.dropdown-child1 a {
    color: var(--cor-quatro);
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown1:hover .dropdown-child1 {
    display: block;
    position: absolute;
}

.mainmenubtn2 {
    background-color: var(--cor-quatro);
    color: var(--cor-dois);
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
}

.mainmenubtn2:hover {
    background-color: var(--cor-seis);
    color: var(--cor-quatro);
}


.dropdown-child2 {
    display: none;
    background-color: var(--cor-seis);
    min-width: 200px;
    border-radius: 30px;
}

.dropdown-child2 a {
    color: var(--cor-quatro);
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown2:hover .dropdown-child2 {
    display: block;
    position: absolute;

}


.titulo-destaque {
    font-weight: 400;
    font-size: 20px;
}

/* Corpo */
body {
    background-color: #000000;
    color: var(--cor-tres);
    font-size: 20px;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

/* main */
.apresentação {
    display: flex;
    flex-direction: row;
    margin-right: 25%;
    margin-left: 30%;
    margin-top: 5%;

}

.foto img {
    border-radius: 20% / 60%;
    /* Arredonda as bordas */
    margin-left: 10%;

    width: 80%;
}

.foto_perfil1 {
    border-radius: 50%;
    border: 5px solid var(--cor-um);
    width: 30%;
    height: 20%;
}

.foto_perfil2 {
    border: 5px solid var(--cor-dois);

    border-radius: 50%;
    width: 30%;
    height: 20%;
}


.texto {
    font-size: 40px;
}

.apresentacao_links1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.apresentacao_links2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.apresentacao_links_sociais1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-um);
    width: 10%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--cor-tres);
}

.apresentacao_links_sociais2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-dois);
    width: 10%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--cor-tres);
}

.apresentacao_links_sociais1:hover {
    background: var(--cor-um);
}

.apresentacao_links_sociais2:hover {
    background: var(--cor-dois);
}

/* projeto */
.linguagens {
    text-align: center;
    padding: 1rem;
}

.imagens {
    display: flex;
    margin: 5 px;
    grid-gap: 10px;
    justify-content: center;

}


.conteiner_sobre {
    display: flex;
    text-align: center;
    margin: 0% 15% 0% 15%;

}

.texto_apresentacao {
    margin-top: 10%;
}


/* Rodapé */
/* separador */
.separator {
    margin: 5px 5px 30px;
    display: flex;
    height: 20px;
    background: var(--color-gradient);
    width: 100%;
    /* Aumenta a largura */
    align-self: center;
}

.separator .texto-rodape {
    text-align: center;
}


/* Responsividade */
@media screen and (max-width: 1100px) {
    .conteiner_sobre {
        text-align: center;
        justify-content: center;

    }

    .foto_sobre {
        transform: translateX(-50%);
        width: 20%;
        margin-left: 20%;
    }

    .texto_apresentacao {
        z-index: 1;
        margin-top: 80%;
    }
}